Repository albertocavalcante/homebrew-tap: changes, and which lefthook commands are due for each by the changed paths.
All: dprint-check, ruby-syntax

dprint-check:
  run: dprint check {staged_files}

ruby-syntax:
  run: ruby -c {staged_files}

chore: use brew audit and brew style for formula linting
  lefthook.yml
Due: none

fix(bazelle): fix file permissions and sha256 placeholders
  Formula/bazelle.rb
Due: ruby-syntax

feat: add bossa formula (macOS arm64)
  Formula/bossa.rb
Due: ruby-syntax

fix: set bossa version to 0.1.0
  Formula/bossa.rb
Due: ruby-syntax

feat(bossa): update to v0.1.0 with release sha256
  Formula/bossa.rb
Due: ruby-syntax

feat: add katharsis formula (SHA256 pending first release)
  Formula/katharsis.rb
Due: ruby-syntax

feat: add gomodfmt formula
  Formula/gomodfmt.rb
Due: ruby-syntax

feat: add antlers formula
  Formula/antlers.rb
Due: ruby-syntax

feat: add antlers-nightly formula with auto-update CI
  .github/workflows/update-antlers-nightly.yml
  Formula/antlers-nightly.rb
  README.md
  dprint.json
  lefthook.yml
  tools/lint/ghalint.yaml
  tools/lint/pinact.yaml
Due: dprint-check, ruby-syntax

fix(lefthook): use temporary tap for brew audit
  lefthook.yml
Due: none

docs(lefthook): add source links for brew audit workaround
  lefthook.yml
Due: none

docs: update README with all available formulas
  README.md
Due: none

feat: rename gls to gvy
  Formula/gls.rb
  Formula/gvy.rb
  README.md
Due: ruby-syntax

docs: update description to be more generic
  README.md
Due: none

feat: add rebaze formulas
  Formula/rebaze-nightly.rb
  Formula/rebaze.rb
  README.md
Due: ruby-syntax

feat(copybara): add formula for native binaries from fork-copybara
  Formula/copybara.rb
Due: ruby-syntax

feat: add custom download strategy for private repos
  Formula/rebaze-nightly.rb
  lib/private_strategy.rb
Due: ruby-syntax

feat: add slack formula
  Formula/slack.rb
Due: ruby-syntax

docs: add copybara and slack to README
  README.md
Due: none

feat(mdxfmt-nightly): add nightly formula
  Formula/mdxfmt-nightly.rb
  README.md
Due: ruby-syntax

feat: add tfc formula
  Formula/tfc.rb
  README.md
Due: ruby-syntax

feat: add reapictl formula
  Formula/reapictl.rb
  README.md
Due: ruby-syntax

feat: add octo-sts trust policy for doczel nightly
  .github/chainguard/doczel-nightly.sts.yaml
Due: dprint-check

Path conditions:
  dprint-check: any of: **/*.{md,json,yml,yaml}
  ruby-syntax: any of: **/*.rb
